<div class="container">
  <div class=""></div>
  <div class="card" style="width: 18rem;">
    <i class="fa fa-users" aria-hidden="true"></i>
    <div class="card-body">
      <h5 class="card-title">Users</h5>

      <a href="#" routerLink="/users" class="btn btn-primary">{{user_list.length}}</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
    <div class="card-body">
      <h5 class="card-title">Schools</h5>

      <a href="#" routerLink="/schools" class="btn btn-primary">{{school_list.length}}</a>
    </div>
  </div>

</div>
