<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card  detail-wrap">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="icon">
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </div>
                        <div class="no-name">
                            <h1>{{user_list.length}}</h1>
                            <h5 class="card-title">Users</h5>

                            <a href="#" routerLink="/users"> View all</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card  detail-wrap">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="icon">
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        </div>
                        <div class="no-name">

                            <h1>{{school_list.length}}</h1>
                            <h5 class="card-title">Schools</h5>
                            <a href="#" routerLink="/schools">view all</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>